.bg-image-1 {
    background: url("assets/images/image-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

.overlay {
    background: #0000006d;
}